%h1 :: LISTAGEM DE TURMAS ::

%table
  %thead
    %tr
      %th Nome Aluno
      %th Nome Curso
      %th Nome Professor
      %th Turma
      %th Sala
      %th Data Início
      %th Data Término
      %th Turno
      %th
      %th
      %th

  %tbody
    - @turmas.each do |turma|
      %tr
        %td= turma.inscricao.nome
        %td= turma.curso.nome
        %td= turma.professor.nome
        %td= turma.turma
        %td= turma.sala
        %td= turma.data_ini
        %td= turma.data_ter
        %td= turma.turno
        %td= link_to 'Mostrar', turma
        %td= link_to 'Alterar', edit_turma_path(turma)
        %td= link_to 'Excluir', turma, :method => :delete, :data => { :confirm => 'Tem certeza da exclusao?' }

%br

= link_to ':: Registrar Turma ::', new_turma_path
