%h1 :: LISTAGEM DE CURSOS :: 

%table
  %thead
    %tr
      %th Nome Curso
      %th Descrição Curso
      %th Nome Professor
      %th
      %th
      %th

  %tbody
    - @cursos.each do |curso|
      %tr
        %td= curso.nome
        %td= curso.descricao
        %td= curso.professor.nome
        %td= link_to 'Mostrar', curso
        %td= link_to 'Alterar', edit_curso_path(curso)
        %td= link_to 'Excluir', curso, :method => :delete, :data => { :confirm => 'Tem certeza da exclusao?' }

%br

= link_to ' ::Registrar Curso ::', new_curso_path
