%h1 LISTAGEM DE INSCRIÇÕES

%table
  %thead
    %tr
      %th Nome Aluno
      %th Endereço
      %th Telefone
      %th Cidade
      %th Nome Curso
      %th
      %th
      %th

  %tbody
    - @inscricoes.each do |inscricao|
      %tr
        %td= inscricao.nome
        %td= inscricao.endereco
        %td= inscricao.telefone
        %td= inscricao.cidade
        %td= inscricao.curso.nome
        %td= link_to 'Mostrar', inscricao
        %td= link_to 'Alterar', edit_inscricao_path(inscricao)
        %td= link_to 'Excluir', inscricao, :method => :delete, :data => { :confirm => 'Tem certeza da exclusao?' }

%br

= link_to ' :: Realizar Inscricao ::', new_inscricao_path
