%h1 Listing professores

%table
  %thead
    %tr
      %th Nome Professor
      %th Formação
      %th
      %th
      %th

  %tbody
    - @professores.each do |professor|
      %tr
        %td= professor.nome
        %td= professor.formacao
        %td= link_to 'Show', professor
        %td= link_to 'Edit', edit_professor_path(professor)
        %td= link_to 'Destroy', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Professor', new_professor_path
