%h1 :: LISTAGEM DE PROFESSORES ::
%table
  %thead
    %tr
      %th Nome Professor
      %th Formação
      %th
      %th
      %th

  %tbody
    - @professores.each do |professor|
      %tr
        %td= professor.nome
        %td= professor.formacao
        %td= link_to 'Mostrar', professor
        %td= link_to 'Editar', edit_professor_path(professor)
        %td= link_to 'Excluir', professor, :method => :delete, :data => { :confirm => 'Tem certeza da exclusao?' }

%br

= link_to ':: Registrar Professor ::', new_professor_path
