%h1 :: LISTAGEM DE NOTAS ::

%table
  %thead
    %tr
      %th Nome Aluno
      %th Nome Curso
      %th Nota
      %th Frequência
      %th
      %th
      %th

  %tbody
    - @notas.each do |nota|
      %tr
        %td= nota.inscricao.nome
        %td= nota.curso.nome
        %td= nota.nota
        %td= nota.frequencia
        %td= link_to 'Mostrar', nota
        %td= link_to 'Alterar', edit_nota_path(nota)
        %td= link_to 'Excluir', nota, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to ':: Lançar Nota e Freqüencia::', new_nota_path
