%ul.nav
  %li= link_to 'Home', root_path
  %li= link_to 'Realizar Inscrição', inscricoes_path
  %li= link_to 'Cadastrar Professores', professores_path
  %li= link_to 'Cadastrar Cursos', cursos_path
  %li= link_to 'Lançar Notas', notas_path
  %li= link_to 'Associar Turma', turmas_path
  = render 'layouts/navigation_links'
